body{
    margin: 0;
}
.banner-section{
    height: 600px;
    background: url(/media/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.thumb{
    line-height: 6em;
}
i{
    font-size: 4em;
    vertical-align: middle;;
}
img{
    width: 100%;
}
i:hover{
    font-size: 5em;
}
.features, .testimonials{
    padding: 100px 0;
}
.feature, .testimonial{
    padding: 0 50px;
    /* margin-bottom: 70px; */
}
.testimonials .thumb{
    border-radius: 50%;
    max-width: 250px;
    overflow: hidden;
}
/* .testimonial img{
    border-radius: 50%;
    max-width: 250px;
} */
.image-box{
    background-size: cover;
    min-height: 450px;
}